<section class="hero">
  <div class="hero-body">
    <p class="title">
      Vue examples
    </p>
    <p class="subtitle">
      без конкретики
    </p>
  </div>
</section>

<div class="container is-fluid">
  <h1 class="title">Простой свитч</h1>
  <div id="type-changer">
    vue не прогрузился! 😱
  </div>

  <hr>

  <h1 class="title">Мастер форм</h1>
  <div id="wizard">
    vue не прогрузился! 😱
  </div>
</div>